<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Yogento_Yoagent>
			<version>1.0.1.0</version>
		</Yogento_Yoagent>
	</modules>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<yoagent>
											<title>Yogento Agent Module Section</title>
										</yoagent>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<crontab>
		<jobs>
			<yoagent_send_requests>
				<schedule>
					<cron_expr>*/1 * * * *</cron_expr>
				</schedule>
				<run>
					<model>yoagent/observer::sendRequests</model>
				</run>
			</yoagent_send_requests>
		</jobs>
	</crontab>
	<default>
		<yoagent>
			<request>
				<url>http://yogento.com</url>
			</request>
		</yoagent>
	</default>
	<frontend>
		<routers>
			<yogento>
				<use>standard</use>
				<args>
					<module>Yogento_Yoagent</module>
					<frontName>yoagent</frontName>
				</args>
			</yogento>
		</routers>
	</frontend>
	<global>
		<!-- <events> <sales_order_save_after> <observers> <yoagent_order_after_save> 
			<type>singleton</type> <class>yoagent/observer</class> <method>exportOrder</method> 
			</yoagent_order_after_save> </observers> </sales_order_save_after> </events> -->
		<helpers>
			<yoagent>
				<class>Yogento_Yoagent_Helper</class>
			</yoagent>
		</helpers>
		<models>
			<yoagent>
				<class>Yogento_Yoagent_Model</class>
				<resourceModel>yoagent_mysql4</resourceModel>
			</yoagent>
			<yoagent_mysql4>
				<class>Yogento_Yoagent_Model_Mysql4</class>
				<entities>
					<request>
						<table>yogento_agent_request</table>
					</request>
				</entities>
			</yoagent_mysql4>
		</models>
		<resources>
			<yoagent_read>
				<connection>
					<use>core_read</use>
				</connection>
			</yoagent_read>
			<yoagent_setup>
				<setup>
					<module>Yogento_Yoagent</module>
					<class>Yogento_Yoagent_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</yoagent_setup>
			<yoagent_write>
				<connection>
					<use>core_write</use>
				</connection>
			</yoagent_write>
		</resources>
	</global>
	<adminhtml>
	</adminhtml>
	<admin>
	</admin>
</config>