<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Yogento_Agent>
			<version>0.0.0.1</version>
		</Yogento_Agent>
	</modules>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<agent>
											<title>Yogento Agent Module Section</title>
										</agent>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<crontab>
		<jobs>
			<agent_send_requests>
				<schedule>
					<cron_expr>*/1 * * * *</cron_expr>
				</schedule>
				<run>
					<model>agent/observer::sendRequests</model>
				</run>
			</agent_send_requests>
		</jobs>
	</crontab>
	<frontend>
		<routers>
			<yogento>
				<use>standard</use>
				<args>
					<module>Yogento_Agent</module>
					<frontName>yogento</frontName>
				</args>
			</yogento>
		</routers>
	</frontend>
	<global>
		<events>
			<sales_order_save_after>
				<observers>
					<agent_order_after_save>
						<type>singleton</type>
						<class>agent/observer</class>
						<method>exportOrder</method>
					</agent_order_after_save>
				</observers>
			</sales_order_save_after>
		</events>
		<helpers>
			<agent>
				<class>Yogento_Agent_Helper</class>
			</agent>
		</helpers>
		<models>
			<agent>
				<class>Yogento_Agent_Model</class>
				<resourceModel>agent_mysql4</resourceModel>
			</agent>
			<agent_mysql4>
				<class>Yogento_Agent_Model_Mysql4</class>
				<entities>
					<request>
						<table>yogento_agent_request</table>
					</request>
				</entities>
			</agent_mysql4>
		</models>
		<resources>
			<agent_read>
				<connection>
					<use>core_read</use>
				</connection>
			</agent_read>
			<agent_setup>
				<setup>
					<module>Yogento_Agent</module>
					<class>Yogento_Agent_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</agent_setup>
			<agent_write>
				<connection>
					<use>core_write</use>
				</connection>
			</agent_write>
		</resources>
	</global>
	<adminhtml>
	</adminhtml>
	<admin>
	</admin>
</config>