<?xml version="1.0"?>
<config>
    <tabs>
        <yogentotab module="agent" translate="label">
            <label>Yogento</label>
            <sort_order>99999</sort_order>
        </yogentotab>
    </tabs>
    <sections>
        <agent module="agent" translate="label">
            <label>Yogento Agent</label>
            <tab>yogentotab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <request>
                    <label>Request</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <url translate="label">
                            <label>URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url>
                    </fields>
                </request>
            </groups>
        </agent>
    </sections>
</config>